<template name="rea.albums.card">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <a href="{{pathFor 'rea.albums.gallery' albumId=this._id}}">
                    {{#each photo in this.preview}}
                        <img src="{{fileURL photo}}" alt="{{this.name}}_preview">
                    {{else}}
                        <img src="{{assets '/images/preview.jpg'}}" alt="preview">
                    {{/each}}
                </a>
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                {{#unless $eq currentUser._id owner._id}}
                    <div class="media-left">
                        <figure class="image" style="width: 40px;height: 40px;">
                            <img src="{{gravatarUrl this.owner.emails.[0].address}}" alt="gravatar">
                        </figure>
                    </div>
                {{/unless}}
                <div class="media-content">
                    <p class="title is-4">
                        <a href="{{pathFor 'rea.albums.gallery' albumId=this._id}}">
                            {{this.name}}
                        </a>
                    </p>
                    {{#unless $eq currentUser._id owner._id}}
                        <p class="subtitle is-6">{{this.owner.fullName}}</p>
                    {{/unless}}
                </div>
            </div>

            <div class="content">
                <p>
                    {{#with this.description}}
                        <em>{{this}}</em>
                    {{else}}
                        <em>No description provided</em>
                    {{/with}}
                </p>
                <small>{{formatDate this.createdAt 'HH:mm - D MMMM YYYY'}}</small>
                <div class="control is-grouped" style="margin-top: 5px;">
                    <p class="control">
                        {{> Template.dynamic template="rea.albums.share.button" data=shareButtonData}}
                    </p>
                    <p class="control">
                        {{> Template.dynamic template="rea.albums.edit.button" data=editButtonData}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
