<template name="navbar">
    <section class="hero">
        <div class="hero-head">
            <nav class="nav">
                <div class="container">
                    <div class="nav-left">
                        <span class="nav-item is-brand">
                            {{> logo}}
                        </span>
                        {{#with currentUser}}
                            <a class="nav-item is-tab {{isActiveRoute regex='rea.index|rea.my-albums|rea.shared-with-me'}}" href="{{pathFor 'rea.index'}}">
                                Home
                            </a>
                            {{#if hasRole 'ALBUM' _id}}
                                <span class="nav-item is-tab {{isActiveRoute regex='rea.albums'}}">
                                    <a href="#" class="button is-primary js-create-album">
                                        New album
                                    </a>
                                </span>
                            {{/if}}
                            {{#if hasRole 'ADMIN' _id}}
                                <a href="{{pathFor 'admin'}}" class="nav-item is-tab {{isActiveRoute regex='admin'}}">
                                    Administration
                                </a>
                            {{/if}}
                        {{/with}}
                    </div>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <span id="nav-toggle" class="nav-toggle {{active}}">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>

                    <div class="nav-right nav-menu {{active}}">
                        {{#with currentUser}}
                            <a href="{{pathFor 'rea.profile'}}" class="nav-item">
                                <img src="{{gravatarUrl}}" alt="gravatar">
                                &nbsp;
                                {{fullName}}
                            </a>
                            <a class="nav-item js-logout" href="#">{{> icon name='sign-out' size='is-small'}}</a>
                        {{else}}
                            <a href="{{pathFor 'public.auth.login'}}"
                               class="nav-item is-tab {{isActiveRoute name='public.auth.login'}}">
                                <span>Login</span>
                            </a>
                            <a href="{{pathFor 'public.auth.register'}}"
                               class="nav-item is-tab {{isActiveRoute name='public.auth.register'}}">
                                <span>Register</span>
                            </a>
                        {{/with}}
                    </div>
                </div>
            </nav>
        </div>
    </section>
</template>
