<template name="uploader">
    <div class="uploader">
        <div class="uploader__header">
            <div class="heading_title">Uploading <span class="album_name">{{totalCount}}</span> photos</div>
            <button class="button is-small reduce">
                <span class="icon is-small">
                    <i class="fa fa-{{minimizeIcon}}"></i>
                </span>
            </button>
        </div>
        <div class="uploader__body {{minimized}}">
            <div class="uploader__body__content">
                {{#with currentUpload}}
                    <div class="columns">
                        <div class="column is-narrow text-overflow-hidden" style="width: 150px;">
                            {{file.name}}
                        </div>
                        <div class="column" style="display: flex; align-items: center;">
                            {{#unless done}}
                                <progress class="progress is-primary" value="{{progress}}"
                                          max="100">{{progress}}%
                                </progress>
                            {{else}}
                                <progress class="progress is-primary" value="100"
                                          max="100">100%
                                </progress>
                            {{/unless}}
                        </div>
                        <div class="column is-narrow">
                            <p class="subtitle is-5">
                                {{#unless done}}
                                    {{progress}}%
                                {{else}}
                                    {{> icon name='check-circle' color='#00d000'}}
                                {{/unless}}
                            </p>
                        </div>
                    </div>
                {{/with}}
                {{#each photo in pendingUploads}}
                    <div class="columns">
                        <div class="column is-narrow text-overflow-hidden" style="width: 150px;">
                            {{photo.filename}}
                        </div>
                        <div class="column" style="display: flex; align-items: center;">
                            <progress class="progress is-primary" value="0"
                                      max="100">0%
                            </progress>
                        </div>
                        <div class="column is-narrow">
                            <button class="uploader-action js-upload-cancel"></button>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="uploader__body__footer">
                <div class="control is-grouped">
                    <p class="control">
                        <button class="button is-small">
                        <span class="icon is-small">
                            <i class="fa fa-pause"></i>
                        </span>
                        </button>
                    </p>
                    <p class="control">
                        <button class="button is-danger is-small">
                        <span class="icon is-small">
                            <i class="fa fa-stop"></i>
                        </span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
