.gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;

    &__item {
        position: relative;
        height: 250px;
        width: calc(100% / 4);
        padding: .1vw;
        margin-bottom: 1vw;

        background-origin: content-box;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('/images/imagenotfound.svg');

        a {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
}